<div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-container">
        <div class="cart-item" *ngFor="let item of cartItems">
            <div class="product-info">
                <div class="product-image">
                    <img [src]="item.processedImg"/>
                </div>
                <div class="product-details">
                    <div class="item-row">
                        <div class="item-name" [ngClass]="{'highlight' : item.highlighted }">
                            {{item.productName}}
                        </div>
                        <div class="item-price">
                            {{item.price | currency}}
                        </div>
                        <div class="quantity-controls">
                            <button mat-icon-button [disabled]="item.quantity == 1" 
                             (click)="decreaseProductQuantity(item.productId)" 
                             class="btn btn-default">
                                <mat-icon>remove_circle_outline</mat-icon>
                            </button>
                            <span>{{item.quantity}}</span>

                            <button mat-icon-button (click)="increaseProductQuantity(item.productId)">
                                <mat-icon>add_circle_outline</mat-icon>
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="total-price">
            Total Amount: {{order.totalAmount | currency}}
        </div>
        <div class="total-price">
             Amount: {{order.amount | currency}}
        </div>

        <div class="total-price" *ngIf="order.couponName != null">
             Coupon Applied: {{order.couponName }}
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="placeOrder()" >Place Order</button>

        </div>

    </div>

    <div class="container" *ngIf="order.couponName == null">
        <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
            <mat-form-field appearance="outline" class="form-field" >
                <mat-label>Code</mat-label>
                <input type="text" formControlName="code" matInput placeholder="Enter your code here..." >
                <mat-error  *ngIf="couponForm.get('code')?.hasError('required')">
                    Code is required!
                </mat-error>
            </mat-form-field> 
            <br/>
            <button type="submit" mat-raised-button color="primary" >Apply Coupon</button>
           
        </form>

    </div>

</div>

<ng-template #emptyCart>

    <div class="empty-cart">

        <mat-icon class="icon"> remove_shopping_cart</mat-icon>
        <span>Nothing to see here.</span>

    </div>
</ng-template>
