<div class="container">
    <h2> Add Product</h2>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
        <div class="file-upload-container">
            <label for="imageUpload">
                <span> Select a File</span>
            <input type="file" id="imageUpload" (change)="onFileSelected($event)" hidden ="imageFile" accept=".jpg,.jpeg,.png"/>
            <mat-icon>attach_file</mat-icon>
            </label>
        </div>
        <div *ngIf="selectedFile" class="image-preview">
            <div class="circle-image">
                <img [src]="imagePreview" alt="Selected img" class="preview-image"/>
            </div>
    </div>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select a Category</mat-label>
            <mat-select formControlName="categoryId" name="categoryId">
                
                <mat-option *ngFor="let category of listOfCategories" [value]="category.id"  > 
                    {{category.name}}
                </mat-option>
                
            </mat-select>
            <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')" >
               this input is Required!
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="productForm.get('name')?.hasError('required')">This input is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Price</mat-label>
            <input type="number"  matInput placeholder="Price" formControlName="price" required>
            <mat-error *ngIf="productForm.get('price')?.hasError('required')">This input is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
            <mat-error *ngIf="productForm.get('description')?.hasError('required')">This input is required!</mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Add Product</button>

    </form> 
</div>

