.review-Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(240, 232, 222);
    margin-top: 45px;

    .file-upload-container{
        text-align: center;
        margin-bottom: 20px;

        .file-upload-label{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 24px;
            background-color: rgb(28, 97, 97);
            color: #ddd;
            border-radius: 4px;
            transition: background-color 0.3s;

            span{
                margin-right: 8px;
            }

            mat-icon{
                font-size: 20px;
            }
        }
    }

    .image-preview{
        display: flex;
        justify-content: center;
        margin-top: 16px;

        .circle-image{
            width: 150px;
            height: 150px;
            border-radius: 100%;
            overflow: hidden;
            position: relative;
            background-color: lightcyan;
            box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 1.0);

            .preview-image{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    mat-form-field {
        width: 100%;
        margin-top: 20px;

        mat-label{
            font-size: 16px;
        }

        mat-select, textarea{
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
    }

    button[type="submit"]{
        width: 100%;
        font-size: 18px;
        margin-top: 20px;
    }
}
